*{
    margin:0px;
    padding:0px;
}

:root{
    --part-section-color: #404040;
}

body{
    overflow: hidden;
    background-color: #323232;
    color: white;
}

#htmladd{
    display:flex;
    flex-direction: column;
    gap: .5em;
    padding: .5em;
}

.panel{    
    padding: .5rem;
    border: 1px solid #000;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 50%);
    border-radius: 4px;
    background-color: var(--part-section-color);
}

.part_s{


    align-items: center;
    flex-direction: column;

    display: flex;
    align-items: flex-start;
    gap: .5rem;
}

.item_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /*gap: .5rem;*/
}


.item_s{
    display: flex;
    padding: .5rem;
    /*margin: 1rem;*/
    border: 2px solid transparent;
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    border-radius: 4px;

    width: 60px;
    height: 60px;
    
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
    box-shadow: none;
    background-color: transparent;
}

.item_s:hover{
    background-color: rgb(255 255 255 / 50%);
}

.item_s.selected_item{

    border: 2px solid #444;
    background-color: #dcdcdc;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

.item_s img{
    max-height: 100%;
    max-width: 100%;
}

.color-panel{
    display:none;
    /*transform: scaleX(0);*/
    opacity: 0;
    transition: all ease .5s;
    
    display: flex;
}

.color_selector_item{
    width:1em;
    height:1em;
    border: 3px solid transparent;
    cursor: pointer;

}

.color_selector_item_selected{
    border: 3px solid #333;
}



/*.item_s.selected_item > */.color-panel{
    display: flex;
    /*transform: scaleX(1);*/
    flex-wrap: wrap;
    opacity: 1;
}

.viewer-area{
    display: flex;
    /*align-self: flex-start;*/
    flex-direction: column;
    /*width: 100vw;*/
    flex: 0 0 auto;
    gap: .5rem;
}
.item_s > .item-thumbnail {
    /*width: 60px;
    height: 60px;*/
    display: flex;
    align-items: center;
}
.item_s > .item-thumbnail > img{
    max-width: 100%;
    max-height: 100%;
}


.part-title img {
    width: 2rem;
    height: 2rem;
}

.card {
    display: flex;
    align-items: center;
    padding: 0.5em;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    width: fit-content;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,1);
}
.part-title > h3 {
    font-size: 1.5em;
    margin-left: 1em;
}
.selector-area{
    /*height: calc(100vh - var(--computed-height));*/
    flex: 1 1 auto;
    overflow-y: scroll;
}

.save-area{
    display: none;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
}



.part-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: .5em;
}

.part-tint-options {
    display: flex;
    align-items: flex-start;
    padding: 0.5em;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    width: fit-content;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,1);
    flex-direction: column;
    margin-left: 10px;
}
.part-tint-options > div {
    display: flex;
    align-items: center;
}

body.horizontal .wrapper{
    flex-direction: row;
}
body.horizontal .viewer-area{
    width: auto;
    align-self: flex-start;
}
body.horizontal .selector-area{
    height: 100vh;
}



.alert_wrapper{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.5);
    /*display: flex;*/
    display: none;
    align-items: start;
    justify-content: center;
}

body.show-alert .alert_wrapper,
body.show-info-modal .alert_wrapper{
    display: flex;
}

.alert{
    background-color:var(--part-section-color);
    max-width: 600px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    border: 1px solid;
    display: none;
}

body.compat-error .alert.compat-alert{
    display: block;
}
body.id-error .alert.id-alert{
    display: block;
}
body.show-info-modal .alert.info-modal{
    display: block;
}

code{
    background-color: rgba(0,0,0,0.5);
    padding:0.1rem;
}


body.small-preview .viewer-size-small{
    display: none;
}

body:not(.small-preview) .viewer-size-big{
    display: none;
}

.canvas-area{
    position: relative;
    margin: .25rem;
    
    width: 600px;
    max-width: 300px;
    max-height: 100vh;
    /*aspect-ratio: 1 / 1;*/
    overflow: hidden;
}


canvas{
    width: 100%;
    /*aspect-ratio: 1;*/
    /*position: fixed;*/
    background-color: white;
    
    background-image: linear-gradient(45deg, #ddd 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ddd 75%), linear-gradient(45deg, transparent 75%, #ddd 75%), linear-gradient(45deg, #ddd 25%, transparent 25%);
    background-size: 25px 25px;
    background-position: 0 0, 0 0, -12.5px -12.5px, 12.5px 12.5px;
    align-self: center;

    /*background-image: linear-gradient(45deg, #ddd 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ddd 75%), linear-gradient(45deg, transparent 75%, #ddd 75%), linear-gradient(45deg, #ddd 25%, transparent 25%);
    background-size: 100px 100px;
    background-position: 0 0, 0 0, -50px -50px, 50px 50px;
    align-self: center;*/
}

body.small-preview .canvas-area{
    width:150px;
}


.canvas-area .bottom-toolbar{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;

    display:flex;
    justify-content: space-between;

    opacity: 0.2;
    bottom: -2rem;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .25s;
}

.canvas-area:hover .bottom-toolbar{
    opacity: 1;
    bottom: 0px;
}

.canvas-area .top-toolbar{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    display:flex;
    justify-content: right;

    opacity: 0.2;
    top: -2rem;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .25s;
}

.canvas-area:hover .top-toolbar{
    opacity: 1;
    top: 0px;
}

.btn-action{
    height: 2.5rem;
    width: 2.5rem;

    display: flex;

    align-items: center;
    justify-content: center;
}
.btn-action .icon{
    height: 2rem;
    width: 2rem;
}

.big-button{
    display: block;
    margin: .5em;
    padding: 1em;
    background-color:#444;
    border: 1px solid;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
}

.apply-compat-button{
    background-color: #388223;
}
.apply-compat-button:hover{
    box-shadow: inset 0px 0px 0px 8px rgba(0,0,0,0.5);
    background-color: #2e6e1b;
}
.apply-compat-button:active{
    background-color: #1c4410;
}